body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: #fffdf9;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fdf6e3;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form select, form input[type="radio"] {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form h3 {
  font-size: 18px;
  color: #5d3b27;
  margin-bottom: 5px;
}

form button {
  margin-top: 10px;
  cursor: pointer;
  background-color: #D2B48C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

form button:hover {
  background-color: #A57B54;
}
